[Desktop Entry]
Version=1.0
Type=Application
Name=Tray Launcher
Comment=A desktop launcher application for Linux with system tray integration
Exec=/usr/bin/python /home/osha/Workshop/Caura/launcher.py
Icon=applications-system
Terminal=false
Categories=Utility;
Path=/home/osha/Workshop/Caura