[Desktop Entry]
Version=1.0
Type=Application
Name=Tray Launcher
Comment=A desktop launcher application for Linux with system tray integration
Exec=python %k/launcher.py
Icon=applications-system
Terminal=false
Categories=Utility;
Path=%k